.mainContainer {
  display: flex;
  justify-content: space-between;
}

.contentContainer {
  width: 100%;
  padding: 100px;
  padding-top: 20px;

  .logo {
    padding-top: 20px;
  }

  .tabMobileImage {
    display: none;
  }

  h1 {
    padding-top: 100px;
  }

  .heading {
    display: block;
  }

  .tabletHeading {
    display: none;
  }

  p {
    color: #7f7c78;
    font-size: 16px;
  }

  .description {
    padding-top: 10px;
    line-height: 1.5;
  }

  .check {
    display: flex;
    padding-top: 15px;
  }

  .listContent {
    margin-left: 10px;
  }

  .button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    background-color: black;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    color: #f9f6f1;
  }
}

/* Responsive style for mobile*/

@media only screen and (max-width: 600px) {
  .mainContainer {
    display: block;

    .imageContainer {
      display: none;
    }
  }

  .contentContainer {
    padding: 20px;

    .heading {
      display: none;
    }

    .tabletHeading {
      display: block;
    }
    .tabMobileImage {
      display: block;
      padding-top: 20px;

      img {
        width: 550px;
      }
    }
  }
}

/* Responsive style for tablet*/

@media only screen and (max-width: 1070px) {
  .mainContainer {
    display: block;

    .imageContainer {
      display: none;
    }
  }

  .contentContainer {
    padding: 20px;

    .heading {
      display: none;
    }

    .tabletHeading {
      display: block;
    }

    .tabMobileImage {
      display: block;
      padding-top: 20px;

      img {
        width: 1020px;
      }
    }
  }
}
