.mainContainer {
  display: flex;
  justify-content: space-between;
}

.contentContainer {
  width: 100%;
  padding: 100px;
  padding-top: 20px;

  .logo {
    padding-top: 20px;
  }

  h1 {
    padding-top: 100px;
  }

  p {
    color: #7f7c78;
    font-size: 16px;
  }

  .description {
    padding-top: 10px;
    line-height: 1.5;
  }

  .check {
    display: flex;
    padding-top: 15px;
  }

  .listContent {
    margin-left: 10px;
  }

  .button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    background-color: black;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    color: #f9f6f1;
  }
}
